.footer-top {
  padding: 14.5rem 0 12.9rem;
}
@media (width <= 767px) {
  .footer-top {
    padding: 6rem 0 3rem;
  }
}
.footer-widget {
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
  padding-bottom: 3.2rem;
}
.footer-widget ul li a {
  display: inline-block;
  color: var(--gray-color) !important;
  margin-bottom: 1.6rem !important;
}
.footer-widget .social-links {
  display: flex;
  gap: 2.4rem;
}
.footer-widget .social-links .icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  border: 0.1rem solid var(--gray-color);
  cursor: pointer;
  opacity: 0.4;
  transition: scale 0.3s linear;

  &:hover {
    background-color: var(--blue-color);
    border: 0.1rem solid var(--blue-color);
    opacity: 1;
    scale: 1.1;
  }

  &:hover .fa-brands {
    color: var(--primary-color);
  }
}
.footer-widget form {
  border: 0.1rem solid var(--gray-light);
  padding: 0.25rem 0;
  border-radius: 0.5rem;
  display: flex;
  justify-content: space-between;
  max-width: 100%;
  align-items: center;

  & input {
    box-shadow: none;
    outline: none;
    border: none;
    /* background-color: yellow; */
    max-width: 70%;
    height: 4.2rem !important;
    /* flex: 1 0 0; */
    padding: 1.2rem !important;
    margin: 0;
  }

  & .btn-blue {
    max-width: 30%;
    font-size: 1.2rem !important;
    height: 4.2rem !important;
    margin: 0;
  }

  &:focus-within {
    border: var(--blue-border);
  }
}
.footer-bottom {
  padding-bottom: 3.2rem;
}
.colorlib {
  color: var(--blue-color) !important;
  cursor: pointer;
}
@media (min-width: 992px) and (max-width: 1200px) {
  .footer-widget form {
    & .btn-blue {
      font-size: 1.2rem !important;
      margin-right: 2rem !important;
      max-width: 35%;
    }

    & input {
      max-width: 65%;
    }
  }
}
